---
import MainLayout from "../layouts/MainLayout.astro";
import WelcomeCard from "../components/WelcomeCard.astro";
import AboutCard from "../components/AboutCard.astro";
import SocialCard from "../components/SocialCard.astro";
import TimeCard from "../components/TimeCard.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
---

<MainLayout title="Kevin Cowley - Laravel Lumen Expert" description="Self-taught Senior Developer, I excel in PHP, Laravel and Lumen">
	<main class="text-white m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:grid-cols-3 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-8 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]">
		<WelcomeCard />
		<AboutCard />
		<SocialCard />
		<TimeCard />
		<Button href="https://www.csstatsviewer.com/" title="CS Stats Viewer" body="Enchance your Counter-Strike experience with my Chrome/Firefox extension, offering Steam stats for ESEA, FaceIt and more." />
		<Button href="https://unqualified-csgo.com/" title="CSGO Stratbook" body="A program I created in Qt C++ that lets players craft strategy guides for their teams and share useful utility lineups." />
		<Card title="Experience" colSpan="md:col-span-1" rowSpan="md:row-span-2">
			<h2 class="text-xl font-bold m-0 z-20">Experience</h2>
			<p class="text-sm font-light list-disc my-2">
				Payfast by Network International <br />Mar 2022 - Current
			</p>
			<p class="text-sm font-light list-disc">
				Social Web Tech <br />Aug 2019 - Jul 2021
			</p>
		</Card>
		<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
			<p class="text-xs">
				© 2024 · Crafted with ♥️ using <a href="https://astro.build/" target="_blank" class="text-red-500">Astro</a> by Kevin Cowley.
			</p>
		</Card>
	</main>
</MainLayout>
