      <div class="mt-16">
        <h2 class="text-xl font-semibold">{{ T "current_technologies" }}</h2>
        <p>{{ T "current_technologies_desc" }}</p>
        <div class="flex gap-12 flex-wrap justify-center text-center currecnt-technologies mt-6">
          <div>{{ partialCached "icon.html" (dict "svgName" "PHP" "svgTitle" "PHP") "PHP" -}}</div>
          <div>{{ partialCached "icon.html" (dict "svgName" "Laravel" "svgTitle" "Laravel") "Laravel" -}}</div>
          <div>{{ partialCached "icon.html" (dict "svgName" "Lumen" "svgTitle" "Lumen") "Lumen" -}}</div>
          <div>{{ partialCached "icon.html" (dict "svgName" "MariaDB" "svgTitle" "MariaDB") "MariaDB" -}}</div>
          <div>{{ partialCached "icon.html" (dict "svgName" "PHPUnit" "svgTitle" "PHPUnit") "PHPUnit" -}}</div>
          <div>{{ partialCached "icon.html" (dict "svgName" "Vue" "svgTitle" "Vue") "Vue" -}}</div>
          <div>{{ partialCached "icon.html" (dict "svgName" "TypeScript" "svgTitle" "TypeScript") "TypeScript" -}}</div>
          <div>{{ partialCached "icon.html" (dict "svgName" "JavaScript" "svgTitle" "JavaScript") "JavaScript" -}}</div>
          <div>{{ partialCached "icon.html" (dict "svgName" "HTML" "svgTitle" "HTML") "HTML" -}}</div>
          <div>{{ partialCached "icon.html" (dict "svgName" "CSS" "svgTitle" "CSS") "CSS" -}}</div>
          <div>{{ partialCached "icon.html" (dict "svgName" "SCSS" "svgTitle" "SCSS") "SCSS" -}}</div>
          <div>{{ partialCached "icon.html" (dict "svgName" "Git" "svgTitle" "Git") "Git" -}}</div>
        </div>
      </div>
