      <div class="mt-16">
        <h2 class="text-xl font-semibold">{{ T "testomonials" }}</h2>
        <div>
          <blockquote class="px-4">
            “Kevin is one of my best Senior Developers at Payfast. He is an extremely hard and fast worker, loves tech, learns quickly and upskills himself all the time to stay on top of the latest trends. Not only is he good in PHP and Laravel, he's also very skilled in Docker and Linux and how to troubleshoot the most difficult environmental issues. No company will ever regret taking Kevin into their teams!”
          </blockquote>
          <h4 class="mt-4 font-semibold">Leon Britz</h4>
          <p class="text-sm muted-text">Software Development Manager</p>
        </div>
      </div>
